@{
    ViewData["Title"] = "Home Page";

}
<style>
    #test {
        background-color: mediumpurple;
        width: 200px;
    }

        #test:hover {
            background-color: yellow;
        }
</style>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div id="test">
    <p style="color:black">Yuchen is coming!</p>
    <p style="color:darkslategray">Xu Hong's here :waves:</p>
</div><!--Just for testing the push plz feel free to delete it -->
