@{
    ViewData["Title"] = "Home Page";
    List<Products> allProducts = (List<Products>)ViewData["allProducts"];

}


<h1>CONSTRUCTION IN PROGRESS</h1>

@{
    foreach (Products products in allProducts)
    {
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="..." alt="Product Image TBF">
            <div class="card-body">
                <h5 class="card-title">@products.Name</h5>
                <p class="card-text">@products.Description</p>
                <a href="#" class="btn btn-primary">@products.UnitPrice - Add to Cart</a>
            </div>
        </div>
        <br />
    }
}