@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<style>
    .historydiv1 {
        width: 800px;
        height: 400px;
        background-color: yellow;
        display: block;
        margin: 0 auto;
    }
    .productpic {
        width: 400px;
        height: 400px;
    }
    .pro_name{
    text-align:center;
    }
    .btn1 {
    
    text-align:center;
    }
    td.rightpart {
        padding-left: 20px;
        width:50%;
    }
</style>
<div class="historydiv1">
    <table border="1">
        <tr>
            <td rowspan="3">
                <div class="productpic">
                    <img src="https://www.dute.org/imgplaceholder/800x240" width="400" height="240">
                    <div class="pro_name">Product Name</div>
                    <div class="pro-desc">The new release of Adobe Creative Cloud gives you all the best creative apps and services, so you can stay more connected and creative wherever you’re inspired.</div>
                    <div class="btn1"><button>DownLoad</button></div>                  
                </div>
            </td>
            <td class="rightpart">
                Purchase on: 12, OCT, 2021
            </td>
        </tr>
        <tr>
            <td class="rightpart">Quantity: 2</td>
        </tr>
        <tr>
            <td class="rightpart">Activation Code: 
                    <select>
                        <option value="value">aasdasdasdasdasda</option>
                        <option value="value">bbbbbbbbbbbbbbba</option>
                        <option value="value">cccccccccccccccccca</option>
                    </select>                
            </td>
        </tr>
    </table>
</div>
