/*reference:https://github.com/LunarLogic/starability/blob/master/starability-css/starability-basic.css*/

.item-rank-rst, .user-rank-rst, .rating-wrap ul, .rating-wrap a:hover, .rating-wrap .active-star, .user-m-star, .urr-rank60, .breadcrumb .note {
    background-image: url('file:///C:\Users\ASUS\Pictures\临时图片\5-point-stars-png-star-icon-flat-11562958768wpf63hu4tq.png');
    /**-----星级插件背景图片----**/
    background-repeat: no-repeat;
}

.rating-wrap {
    background: none repeat scroll 0 0 #FFF9F1;
    border: 1px solid #EFE0D7;
    display: inline-block;
    float: left;
    height: 20px;
    margin-right: 5px;
    padding: 4px 0 0 5px;
    position: relative;
    top: -2px;
    width: 89px;
    z-index: 0;
}

    .rating-wrap ul {
        background-position: 0 -250px;
        height: 16px;
        position: relative;
        width: 85px;
        z-index: 10;
    }

    .rating-wrap li {
        display: inline;
    }

    .rating-wrap a {
        display: block;
        height: 16px;
        left: 0;
        position: absolute;
        top: 0;
    }

    .rating-wrap .five-stars {
        background-position: 0 -160px;
        width: 84px;
        z-index: 10;
    }

    .rating-wrap .four-stars {
        background-position: 0 -178px;
        width: 68px;
        z-index: 20;
    }

    .rating-wrap .three-stars {
        background-position: 0 -196px;
        width: 51px;
        z-index: 30;
    }

    .rating-wrap .two-stars {
        background-position: 0 -214px;
        width: 34px;
        z-index: 40;
    }

    .rating-wrap .one-star {
        background-position: 0 -232px;
        width: 17px;
        z-index: 50;
    }

.rating-block .hint {
    color: #999999;
    float: left;
}

.active-hint {
    color: #CC0000;
}

.rating-block .err-hint {
    color: #EE0000;
    font-weight: bold;
}