@{
    ViewData["Title"] = "View Cart";
}

@{
    List<Products> cart = (List<Products>)ViewData["cartProducts"];
}

<head>
    <script data-require="jquery@3.1.1" data-semver="3.1.1" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="viewcart.css" />
    <script src="viewcart.js"></script>
</head>

<body>
    <h1>View Cart</h1> <!--will move to header-->

    @if (cart.Count == 0)
    {
        <div>Your cart is empty!</div>
    }
    else
    {
        <table class=cart_Table>
            <tr>
                <th>Item</th>
                <th>Details</th>
                <th>Quantity</th>
                <th>Subtotal</th>
            </tr>

            @foreach (Products cartItem in cart)
            {
                <tr>
                    <td><img src=@ViewData["TestImage"]></td>
                    <td>@cartItem.ProductName<br>@cartItem.Description<br>@cartItem.UnitPrice</td>
                    <td>
                        <div class="quantity buttons_added">
                            <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
                        </div>
                    </td>
                    <td>subtotal placeholder</td>
                </tr>
            }
        </table>
    }
</body>
