@{
    ViewData["Title"] = "View Cart";
    List<CartItem> cart = (List<CartItem>)ViewData["cart"];
}

@section Scripts {
    <script src="~/js/ViewCart.js"></script>
}

<div><p>You have no items in your cart.</p></div>